.nav3{
    visibility: hidden;
}
.nav-bar-2{
    background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 5;
}
.hero-sec-prl{
    background-image: url("https://www.kotak.com/content/dam/Kotak/herosliderbanner/privy-league-banner-d.jpg");
    height:400px;
    margin-top: 10px;
}
.hero-sec-1-prl{
    width: 1140px;
    position: relative;
    top: 110px;
    left: 100px;
}
.hero-sec-prl h1{
    color: rgb(237, 193, 105);
    font-size: 44px;
    font-weight: 700;
}
.hero-sec-prl p{
    color: rgb(237, 193, 105);
    margin: 0 0 10px;
    padding: 10px;
    padding-left: 0px;
}
#cardblock1{
    background-color: transparent;
    border: 1px solid rgb(237, 193, 105);
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    height: 47px;
    border-radius: 3px;
    position: relative;
    top: 10 px;
}
.nav-div{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 10px;
    margin-left: 120px;
}
.nav-div-1 a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.nav-div-3{
    font-size: 14px;
    color: rgba(115, 109, 109, 0.582);
}
.nav-div-3{
    color: red;
    font-weight: bold;
    font-size: 14px;
}